

/* LCM =============================== */

.lcm-cont{
    width: 100%;
    position: relative;
}

.lcm-logo {
    position: absolute;
    bottom: 0;
    left: 132.5px;
    z-index: 222;
    aspect-ratio: 1;
    width: 35px;
    display: grid;
    place-items: center;
}

.lcm-cont .lcm-img{
    aspect-ratio: 1;
    width: 150px;
    border-radius: 300px;
    overflow: hidden;
    position: relative;
}

.lcm-cont .lcm-img Image{
    width: 100%;
}


.lcm-name{
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1.6px;
    margin-left: -1.6px;
    margin-top: 12px;
}


.lcm-subtitle{
    font-weight: 800;
    font-size: .7rem;
    letter-spacing: .2em;
    margin-top: -6px;
}

.lcm-homepage { 
    display: flex;
    gap: 6px; 
    align-items: center;
}

.lcm-surprise{
    margin-top: 20px;
    border-radius: 8px;
    background: #bcbcbc;
    padding: 10px 17px;
    width: fit-content;
    font-weight: bold;
    font-size: 1.03rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 8px;
    letter-spacing: .2px;
    transition: .45s;
}


.lcm-surprise:hover{
    scale: .97;
    transition: .45s;
}

.lcm-links{
    position: absolute;
    bottom: 35px;
    display: flex;
    gap: 35px;
    align-items: center;
}

.lcm-links a svg{
    scale: 1.42;
}



@media (max-width: 930px){
    .parentContainer{
        flex-direction: column;
    }

    .lcm-cont .lcm-img{
        width: 130px;
    }

    .lcm-subtitle{
        font-size: 12px;
    }
    
    .lcm-links{
        display: flex;
        position: static;
        padding-top: 15px;
        gap: 25px;
    }
    
    .lcm-links a svg{
        scale: 1.22;
    }

    .lcm-surprise{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .lcm-name{
        text-align: center;
    }
}
