/* RCM ======================= */


.rcm>* {
    padding-left: 38px;
    padding-right: 50px;
}

.rcm-sticky {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;
    background: #f0f0f0;
}

.rcm-filter {
    padding: 12px 20px;
    background: #44444414;
    border: 1.5px solid #44444400;
    border-radius: 12px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .5s;
}

.rcm-filter:hover {
    background: #44444424;
    border-color: #44444420;
    color: #000;
    transition: .5s;
}


.rcm-filter-active,
.rcm-filter-active:hover {
    background: #000;
    color: #fff;
}



.rcm-about-me,
.rcm-tabs {
    margin: 50px 0 85px;
}

.rcm-am-title {
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: .4px;
}

.rcm-am-desc {
    padding-top: 15px;
    font-size: 1.25rem;
    line-height: 27px;
    text-align: justify;
}









.rcm-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.rcm-tab {
    min-height: 287px;
    width: 45%;
    border: 1.25px solid #44444440;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    cursor: pointer;
    flex-direction: column;
    transition: .4s;
    flex: 1 auto 0%;
    min-width: 300px;
}

.rcm-tab:hover {
    box-shadow: 4px 4px 24px rgba(0, 0, 0, .18);
    transition: .4s;
}

.rcm-tab>* {
    width: 100%;
}


.rcm-tab-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1.25px solid #44444440;
    padding: 20px 25px;
    font-size: 1.2rem;
}

.rcm-tab-bottom-left {
    color: #44444495;
}

.rcm-tab-bottom-right {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    background: #44444414;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: .2px;
}


.rcm-tab-top {
    display: flex;
    flex-direction: column;
}

.rcm-tab-top1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}


.rcm-tab-top2 {
    padding: 0 25px;
    font-weight: 700;
    font-size: 1.88rem;
}

.rcm-tab-top3 {
    padding: 0 25px 55px;
    padding-top: 6px;
    color: #44444495;
    font-size: 1.1rem;
}

.rcm-tab-tag {
    padding: 10px 15px;
    border: 1.2px solid #44444424;
    background: #44444414;
    color: #44444495;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 15px;
}

.rcm-tab-tag-label {
    color: #444444;
    font-size: .9rem;
}



.rcm-about-me {
    padding-bottom: 80px;
}


.rcm-sticky {
    position: sticky;
    top: 0;
    padding: 60px 38px 25px;
    background: #fff4;
    backdrop-filter: blur(20px);
    border-bottom: 2px solid #4441;
}



@media (max-width:1250px) {
    .rcm-tab {
        width: 100%;
    }
}


@media (max-width: 930px) {
    .rcm-sticky {
        padding: 30px 38px 25px;
    }
}


@media (max-width: 550px) {
    .rcm-tabs {
        padding-left: 18px !important;
        padding-right: 18px !important;
    }
    .rcm-sticky{
        padding: 20px !important;
        gap: 15px;
    }
    .rcm-tab-top3{
        font-size: 1rem;
        padding-bottom: 30px;
    }
    .rcm-am-desc{
        font-size: 1.1rem;
    }
    .rcm-tab-top2{
        font-size: 1.7rem;
    }
    .rcm-tab { 
        min-width: 100%;
    }
}