@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* base colors ======================================================= */
  --a-10: 0.1; --a-20: 0.2; --a-25: 0.25; --a-30: 0.3; --a-40: 0.4; --a-50: 0.5; --a-60: 0.6; --a-70: 0.7; --a-80: 0.8; --a-90: 0.9; --a-99: 0.99; --a-100: 1;
  --r: 78; --g: 92; --b: 218;
  /* #4e5cda */

  --purple: rgba(var(--r),var(--g),var(--b),var(--a-100));
  --purple-99: rgba(var(--r),var(--g),var(--b),var(--a-99));
  --purple-90: rgba(var(--r),var(--g),var(--b),var(--a-90));
  --purple-80: rgba(var(--r),var(--g),var(--b),var(--a-80));
  --purple-70: rgba(var(--r),var(--g),var(--b),var(--a-70));
  --purple-60: rgba(var(--r),var(--g),var(--b),var(--a-60));
  --purple-50: rgba(var(--r),var(--g),var(--b),var(--a-50));
  --purple-40: rgba(var(--r),var(--g),var(--b),var(--a-40));
  --purple-30: rgba(var(--r),var(--g),var(--b),var(--a-30));
  --purple-25: rgba(var(--r),var(--g),var(--b),var(--a-25));
  --purple-20: rgba(var(--r),var(--g),var(--b),var(--a-20));
  --purple-10: rgba(var(--r),var(--g),var(--b),var(--a-10));
  --purple-100: rgba(var(--r),var(--g),var(--b),var(--a-100));
  --purple-100: rgba(var(--r),var(--g),var(--b),var(--a-100));
  --purple-100: rgba(var(--r),var(--g),var(--b),var(--a-100));
  --purple-100: rgba(var(--r),var(--g),var(--b),var(--a-100));
  --purple-100: rgba(var(--r),var(--g),var(--b),var(--a-100));

  --space-primary: var(--purple);
  --globe-dark-side: #080913;
}

::selection {
  background: var(--space-primary);
  color: #aaa;
}

/* ROOT INITIALIZATION ============================================================== */
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}


body::-webkit-scrollbar { width: 4px;}
body::-webkit-scrollbar-thumb { background-color: var(--purple-25);}
body::-webkit-scrollbar-thumb:hover { background-color: var(--space-primary);  }
body::-webkit-scrollbar-track { background: var(--globe-dark-side);}

/* ----------| hdie scrollbar */
.scrollbar-hide::-webkit-scrollbar { display: none; }
/* ----------| hover effect */
.hoverable:hover::before { content: ''; position: absolute; width:70%; height:110%; background: radial-gradient(circle at center center, #4857de50 85%,transparent); left: 50%; transform: translateX(-50%); filter: blur(9px); transition: .4s; z-index: -1; }
/* ----------| link hover effect */
.galaxy-link { position: relative; transition: .4s; }
.galaxy-link:hover::before { z-index: -1; content: ''; position: absolute; inset: 0; background: radial-gradient(circle at center center, #4857de, transparent 75% ); filter: blur(9px); transition: .4s; }
/* ----------| title gradient */
.title-gradient { color: transparent; background-clip: text; background: linear-gradient(to bottom right, #fff 20%, #ffffff38); -webkit-text-fill-color: transparent; -webkit-background-clip: text; }


/* HEADER ============================================================================= */
.header {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.48px;
  vertical-align: baseline;
  text-size-adjust: 100%;
}

.anime-header-tab:hover::before { background:url("../../public/bg/something.png"); }
.music-header-tab:hover::before { background:url("../../public/bg/something.png"); }
.fanfic-header-tab:hover::before { background:url("../../public/bg/something.png"); }
.genshin-header-tab:hover::before { background:url("../../public/bg/something.png"); }

/* hamburger ----------------------- */
.hamburger-radial { background: radial-gradient(ellipse at 0% 0%, var(--purple-40), transparent 40%) }



/* FOOTER ============================================================================= */
.footer-container { min-height: calc(75dvh - 56px); }

/* earth effect ----------------- */
.earth { background: radial-gradient(circle at bottom center, var(--globe-dark-side) 81.7%, var(--space-primary) );  }
.earth-reflectance { background: radial-gradient(circle at bottom center, var(--globe-dark-side) 75.7%, #88f1f3f1 ); }
.earth-luminance { background: radial-gradient(circle at bottom center, var(--globe-dark-side) 81.7%, #5180b6ab ); }
.earth-light { background: radial-gradient(circle at 48.7% 110%, var(--purple-50), transparent 70%); }

.light-reflect:before { position: absolute; content: ''; inset: 0; height: 100%; width: 100%; filter: blur(4px); clip-path: polygon(0 0, 100% 16px, 0 calc(100% - 30px)); background: linear-gradient(155deg, transparent 41.3%,#8c94f370);  }

/* rights reserved --------------- */
.rights-reserved:hover #rightsReservedLink { text-decoration: underline; color: #88f1f328; }



.main-container { min-height: calc(100dvh - 56px); }
.blogs-main{ grid-template-columns: 1fr; }


/* /blogs --------------------------------------- */
.blog-main-hero-design::before  { background: radial-gradient(circle at bottom center, var(--space-primary), transparent 70%); }
.md-blog-main-hero-design::before  { background: transparent; }

/* top right globe ~~~~~~~~~~ */
.globe { background: radial-gradient(circle at bottom center, var(--globe-dark-side) 81.7%, var(--space-primary) ); }


.tooltip-card-gradient { background: radial-gradient(circle at 19px 0%, transparent,#01070f 82%); }
/* .tooltip-bg { background: radial-gradient(ellipse at 50% 40%, #191f5c80, transparent 68%); } */

.interestsHeader { overflow: hidden; z-index: 10; }
.interestsHeader:hover::before{ content: ''; z-index: -1; position: absolute; height: 100%; width: 100%; background-size: cover; opacity: 1; animation: InterestsInHeader .5s linear; }
@keyframes InterestsInHeader { 0%{ opacity: 0; } 70%,100%{opacity: 1} }


@media (min-width:768px){
  .main-container { min-height: calc(100dvh - 48px); }
  .footer-container { min-height: calc(75dvh - 56px); }
  .blogs-main { grid-template-columns: 1fr 2fr; }
  
  .blog-main-hero-design::before  { background: transparent; }
  .md-blog-main-hero-design::before  { background: radial-gradient(circle at top right, var(--purple-90), transparent 45%); }
  .globe { background: radial-gradient(circle at center right, var(--globe-dark-side) 64.7%, var(--space-primary) ); }

}




/* INPUT FORMS ================================================================ */
.border-span-animate {
  animation: animateBorderWidth 2s cubic-bezier(.11,1.03,.75,1.42);
  width: 100px;
}
.input-square {
  animation: animateSquareTranslate 2s cubic-bezier(.11,1.03,.75,1.42), animateSquareTranslateBack 1.5s ease-out 2s;
}
.input-line-dash-cover {
  animation: animateCoverLine1 2s cubic-bezier(.11,1.03,.75,1.42), animateCoverLine2 1.5s ease-out 2s;
}
@keyframes animateBorderWidth {
  0%      { width: 0; background: #fff5; }
  100%    { width: 100px; background: #fff5; }
}
@keyframes animateSquareTranslate {
  0%      { transform: translateX(0) }
  100%    { transform: translateX(100px) }
}
@keyframes animateSquareTranslateBack {
  0%      { transform: translateX(100px) }
  100%    { transform: translateX(0) }
}
@keyframes animateSquare {
  0%, 50% { right: 0 }
  100%    { right: 100% }
}
@keyframes animateCoverLine1 {
  0%      { width: 0 }
  100%    { width: 100px }
}
@keyframes animateCoverLine2 {
  0%      { width: 100px }
  100%    { width: 0 }
}


/* TAILWIND =================================================================== */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}