

<!-- FOR ANIME
    <section id="anime-showcase">
        <div class="row-container">
            <div class="row accent-indigo">
                <div class="column-container">
                    <div class="column centered">
                        <h2 class="headline-2">Website Showcase</h2>
                    </div>
                </div>
            </div>
            <div class="row four-column two-column-phone">
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://www.kissmetricshq.com/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-1.jpg"
                                alt="Kissmetrics Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-1.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-1-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-1-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Kissmetrics</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://adamsleapwines.com/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-2.jpg"
                                alt="Adam's Leap Wines Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-2.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-2-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-2-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Adam's Leap Wines</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://radspeicher.de/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-3.jpg"
                                alt="RadspeicheR Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-3.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-3-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-3-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>RadspeicheR</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://maryandthedot.com/en/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-4.jpg"
                                alt="Mary And The Dot Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-4.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-4-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-4-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Mary And The Dot</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://brave.com/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-5.jpg"
                                alt="Brave Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-5.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-5-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-5-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Brave</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://thegeneration.se/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-6.jpg"
                                alt="The Generation Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-6.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-6-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-6-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>The Generation</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://www.aperitoon.it/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-7.jpg"
                                alt="Aperitoon Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-7.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-7-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-7-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Aperitoon</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="http://devlinphotos.co.uk/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-8.jpg"
                                alt="Devlin Photos Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-8.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-8-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-8-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Devlin Photos</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://thedesignspace.co/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-9.jpg"
                                alt="The Design Space Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-9.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-9-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-9-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>The Design Space</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://heidirose.com.au/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-10.jpg"
                                alt="Heidi Rose Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-10.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-10-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-10-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Heidi Rose</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="http://100exhibit.iau.org/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-11.jpg"
                                alt="100 Exhibit Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-11.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-11-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-11-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>100 Exhibit</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://booncreative.co/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-13.jpg"
                                alt="Boon Creative Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-13.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-13-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-13-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Boon Creative</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="http://brettflorens.com/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-14.jpg"
                                alt="Brett Florens Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-14.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-14-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-14-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Brett Florens</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://nikkihillapothecary.com/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-15.jpg"
                                alt="Nikki Hill Apothecary Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-15.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-15-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-15-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Nikki Hill Apothecary</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="http://petratec.com.sg/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-16.jpg"
                                alt="Petratec Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-16.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-16-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-16-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Petratec</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://www.needyesterday.com/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-17.jpg"
                                alt="Need Yesterday Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-17.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-17-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-17-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Need Yesterday</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://in-joy.org/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-18.jpg"
                                alt="In-Joy Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-18.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-18-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-18-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>In-Joy</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://mauriciocedraz.com/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-19.jpg"
                                alt="Mauricio Cedraz Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-19.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-19-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-19-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Mauricio Cedraz</h4>
                        </a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column centered">
                        <a href="https://sleeknote.com/" target="_blank" rel="nofollow noreferrer">
                            <img class="lazy card" width="235" height="176"
                                src="https://www.elegantthemes.com/images/placeholder.jpg"
                                data-src="https://www.elegantthemes.com/images/divi/showcase/showcase-20.jpg"
                                alt="Sleeknote Website Thumbnail"
                                data-srcset="https://www.elegantthemes.com/images/divi/showcase/showcase-20.jpg 240w, https://www.elegantthemes.com/images/divi/showcase/showcase-20-medium.jpg 480w, https://www.elegantthemes.com/images/divi/showcase/showcase-20-large.jpg 960w"
                                sizes="(min-width: 768px) 240px, (max-width: 768px) and (min-width: 240px) 480px, 100vw">
                            <h4>Sleeknote</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-container">
                    <div class="column centered accent-indigo">
                        <a href="https://www.elegantthemes.com/examples/" class="button">More Divi Website Examples</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

