<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>My Interests</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/works.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
</head>

<body>
    
    <!-- HEADER SECTION ===================================== -->
    {% include 'src/utils/header.html' %}
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column centered accent-black" style="margin-top: 10vh; margin-bottom: 4vh;">
                        <h1 class="headline-3">My Interests</h1>
                        <p class="lead" style="text-align: center;">In general, I like doing most of the things focused on tech or art.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    
    <!-- music & anime -->
    <section>
        <div class="row-container product-feature-river">
            
            <div class="row product-feature center-align-columns accent-green">
                <div class="column-container column-7">
                    <div class="column">
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7wq2NqsDMoDR0GsgAZBISD?utm_source=generator" width="576" height="402" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <h2 class="headline-2">Music</h2>
                        <h2>OSTs & OPs</h2>
                        <p>
                            Upbeat musics / leitmotifs and OSTs are my go-to ones, however my music tastes are in
                            general wack.
                        </p>
                        <a class="button" href="https://open.spotify.com/playlist/7wq2NqsDMoDR0GsgAZBISD?si=c23aa9f4b27d4929">To spotify</a>
                    </div>
                </div>
            </div>
            <div class="row product-feature center-align-columns accent-orange">
                <div class="column-container">
                    <div class="column">
                        <div id="storytell-image-collage" class="image-collage" style="padding: 0 40px;">
                            <a href="" target="_blank" class="column website-pack-preview">
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <h2 class="headline-2">Anime</h2>
                        <h2><em>"Yamete-"</em></h2>
                        <p>Anime & Manga probably is my stress-reliever during tight times. Common genres of interest
                            lies in sci-fi, action, moi, slice of life and yuri.</p>
                        <a class="button" href="https://www.crunchyroll.com/">To Crunchyroll</a>
                    </div>
                </div>
            </div>
            <div class="row product-feature center-align-columns accent-gray">
                <div class="column-container column-7">
                    <div class="column">
                        <div id="storytell-image-collage" class="image-collage" style="padding: 0 40px;">
                            <a href="" target="_blank" class="column website-pack-preview">
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <h2 class="headline-2">Reading</h2>
                        <h2>Self-help &amp; LGBT Novels</h2>
                        <p>
                            I have invested my time into being an avid reader. My main interests lies in 
                            self-help books <b>(Atomic Habits, SGAF, Ikigai and so on)</b> as well as 
                            LGBT novels <b>(Loveless, One Last Stop and Red, Felix Ever After and so on).</b>
                        </p>
                        <a class="button" href="https://archiveofourown.org/">To Ao3</a>
                    </div>
                </div>
            </div>
            <div class="row product-feature center-align-columns accent-blue">
                <div class="column-container">
                    <div class="column">
                        <div id="storytell-image-collage" class="image-collage" style="padding: 0 40px;">
                            <a href="" target="_blank" class="column website-pack-preview">
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                                <span class="card">
                                    <img class="lazy" width="220" height="330" src="">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column">
                        <h2 class="headline-2">Gaming</h2>
                        <h2><em>
                            The Genshin world
                        </em></h2>
                        <p>
                            Deeply invested into the world of genshin since v1.0(2020) and played through 
                            each version.
                            <br>
                            <ul style="font-size: 1.2rem;">
                                <li><b style="font-weight: 990;">Server: </b>America</li>
                                <li><b style="font-weight: 990;">UID: </b>613110710</li>
                                <li><b style="font-weight: 990;">Username: </b>Winter</li>
                            </ul>
                        </p>
                        <div class="inline-elements small-gutters">
                            <a class="button" href="https://act.hoyolab.com/app/community-game-records-sea/index.html?bbs_presentation_style=fullscreen&bbs_auth_required=true&v=350&gid=2&utm_source=hoyolab&utm_medium=tools&bbs_theme=dark&bbs_theme_device=1#/ys">To Hoyolab</a>
                            <a class="button" href="https://enka.network/u/613110710/" style="background: #6999ff;">Enka.Network</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>


    

    <!-- FOOTER SECTION ===================================== -->
    {% include 'src/utils/footer.html' %}
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

</body>

</html>