<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>The Learning Journey</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/works.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
</head>

<body>
    
    <!-- HEADER SECTION ===================================== -->
    {% include 'src/utils/header.html' %}
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


    <section>
        <div class="row-container">
            <div class="row">
                <div class="column-container">
                    <div class="column centered accent-purple">
                        <h1>Check out my Works</h1>
                        <p class="lead" style="text-align: center;">In general, I like doing most of the things focused on tech or art.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-container">
            <div class="row center-align-columns card" style="padding-bottom: 65px;">
                <div class="column-container">
                    <div class="column accent-purple" style="padding-left: 28px;">
                        <h2 class="headline-2">Websites</h2>
                        <p class="lead">I'm a <strong>full stack web-dev</strong>
                            with tech stack flexibility in all domains. My websites are a mix of professional and 
                            lucrative design-centric sites.</p>
                        <a class="button primary-button" style="font-size: .8rem;padding: 8px 20px; letter-spacing: 1px;" href="/works/websites/">check out my websites</a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column video">
                            <div class="image-container">
                                <!-- image here -->
                                
                            </div>
                    </div>
                </div>
            </div>
            <div class="row center-align-columns card" style="padding-bottom: 56px;"> 
                <div class="column-container center-align-columns" style="padding-bottom: 28px;">
                    <div class="column accent-green"  style="padding-left: 28px;">
                        <h2 class="headline-2">Software Development</h2>
                        <p class="lead">Being a tech-savy person myself, I can't help but put my fingers into the 
                            extensive world of software development which has got me to create a few wonderful applications.</p>
                        <a class="button primary-button" style="font-size: .8rem;padding: 8px 20px; letter-spacing: 1px;" href="/works/softwares/">test out my softwares</a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column video">
                            <div class="image-container">
                                <!-- image here -->
                                
                            </div>
                    </div>
                </div>
            </div>
            <div class="row center-align-columns card" style="padding-bottom: 56px;">
                <div class="column-container center-align-columns" style="padding-bottom: 28px;">
                    <div class="column accent-indigo"  style="padding-left: 28px;">
                        <h2 class="headline-2">Anime Arts</h2>
                        <p class="lead">I <strong>love art</strong> and i find anime characters appealing in a pleasing manner.
                        My artworks are generally anime waifus and linearts. </p>
                        <a class="button primary-button" style="font-size: .8rem;padding: 8px 20px; letter-spacing: 1px;" href="/works/artworks/">look into my artworks</a>
                    </div>
                </div>
                <div class="column-container center-align-columns">
                    <div class="column video" style="padding-right: 15px;">
                        
                            <div class="image-container">
                                <!-- image here -->
                                
                            </div>
                    </div>
                </div>
            </div>
            <div class="row center-align-columns card" style="padding-bottom: 56px;">
                <div class="column-container center-align-columns" style="padding-bottom: 28px;">
                    <div class="column accent-orange"  style="padding-left: 28px;">
                        <h2 class="headline-2">Coding Instructor</h2>
                        <p class="lead">I find teaching the tech stuffs especially coding very relaxing and it helps 
                            with vocabulary and public speaking.
                        </p>
                        <a class="button primary-button" style="font-size: .8rem;padding: 8px 20px; letter-spacing: 1px;" href="/works/teaching/">check what i teach</a>
                    </div>
                </div>
                <div class="column-container">
                    <div class="column video">
                            <div class="image-container">
                                <!-- image here -->
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    

    <!-- FOOTER SECTION ===================================== -->
    {% include 'src/utils/footer.html' %}
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

</body>

</html>