
::-webkit-scrollbar{ display: none; }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
  user-select: none;
}

html{
  overflow-x: hidden;
}

body{
  min-width: 100dvw;
  min-height: 100dvh;
  padding: 0;
  font-size: .8em;
  background: #f0f0f0;
}

