.parentContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100dvh;
    width: 100dvw;
    background: transparent;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: stretch;
    overflow-x: hidden;
}

.lcm{
    width: 32%;
    background: #b397de;
    padding: 60px 35px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: sticky;
    top: 0;
}


.rcm{
    width: 68%;
    padding: 0 0 60px;
}

.rcm > *{
    padding-left: 38px;
    padding-right: 50px;
}

.loading {
    width: 100dvw;
    padding: 80px 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}

@media (max-width: 930px){
    .parentContainer{
        flex-direction: column;
        justify-content: flex-start;
    }

    .lcm, .rcm{
        width: 100%;
    }

    .lcm{
        padding: 50px 35px 30px;
        position: static;
    }

    .lcm > *{
        display: flex;
        justify-content: center;
    }
    .rcm{
        padding: 20px 0;
    }
}




@media (max-width: 930px){
    .rcm-sticky{
        padding: 30px 38px 25px;
    }
    .rcm{
        padding-top: 0;
    }
}

