---
import Layout from '../layouts/Layout.astro'
import LeftSection from '../components/LeftSection.astro'
import RightSection from '../components/RightSection.astro'
import '../scss/layout.scss'
---

<Layout title="Services: Kushal Kumar">
	<main class={"parentContainer"}>

		<section class={"lcm"}>
			<LeftSection />
		</section>

		<section class={"rcm"}>
			<RightSection />
			<div class="rcm-about-me">
				<div class="rcm-am-title">About Me</div>
				<div class="rcm-am-desc">
					Hi, myself Kushal Kumar. I&apos;m an interactive flexible tech stack software engineer
					with years of experience in web development, building scalable,
					responsive, UI-centric websites for clients.
					<br /><br />
					One is well versed with Photoshop and Clip Studio, to create
					industry-ready seamless alluring softwares solutions. If you need any software created/managed 
					or website done, especially UI-focused, look no further.
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	
</style>
